.initialName {
    font-size: 1em;
    font-weight: bold;
    color: var(--Smokey-Grey)
}

.inputBox {
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 1.6em;
    padding-left: 20px;
    border-radius: 10px;
    border: 2px solid hsl(0, 2%, 62%);
}

.inputBox:focus {
    border-color: var(--Purple);
    outline: none;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.errorText {
    font-size: 0.8em;
    color: hsl(0, 100%, 67%);
}

.errorTextRed {
    color: hsl(0, 100%, 67%);
}

.inputError {
    border-color: hsl(0, 100%, 67%);
    outline: none;
}

@media(max-width: 768px) {
    .inputBox {
        width: 100px;
        height: 50px;
        font-weight: bold;
        font-size: 1.5em;
        padding-left: 10px;


    }    

    .errorText {
        font-size: 0.5em;
    }

    .initialName {
        font-size: 0.8em;

    }
    
}